<h3>Password Reset Request</h3>
<p>Hello,</p>
<p>You requested a password reset. Click the link below to reset your password:</p>

<h1>{{otp}}</h1>
<p>If you didn't request this, please ignore this email.</p>